@use "sass-rem" as rem;
@use "variables";
@use "fonts";

:host {
    @extend .text-sm;
    border-radius: rem.convert(8px);
    height: rem.convert(28px);
    width: rem.convert(102px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: variables.$background-secondary;
}