@use "sass-rem" as rem;
@use "variables";
@use "fonts";

:host {
    @extend .text-sm;
    font-weight: variables.$font-weight-bold;
    border: 1px solid variables.$gray-light;
    border-radius: rem.convert(12px);
    background-color: variables.$background-primary;
    padding: rem.convert(12px 16px);
}