@use "sass-rem" as rem;
@use "variables";
@use "fonts";

.success-button {
    @extend .text-md;
    font-weight: 700;
    color: variables.$color-button-green;
    padding: rem.convert(12px 103.5px);
    border-radius: rem.convert(12px);
    background-color: variables.$color-button-light-green;
    &.focused {
        color: variables.$background-primary;
        background-color: variables.$color-success;
    }
}



.info-button {
    @extend .text-sm;
    height: rem.convert(28px);
    width: rem.convert(102px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: rem.convert(8px);
    background-color: variables.$background-secondary;
}
