@use "sass-rem" as rem;
@use "variables";
@use "fonts";
 
.content-block {

    border: 1px solid variables.$gray-light;
    background-color: variables.$background-primary;
    border-radius: rem.convert(16px);
    padding: rem.convert(24px);

    .title {
        @include fonts.responsive-text-class(
            "text-big",
            $desktop-class: "text-lg",
            $laptop-class: "text-lg",
            $tablet-class: "text-big",
            $phone-class: "text-big"
        );
        font-weight: variables.$font-weight-bold;
        margin-bottom: rem.convert(24px);
    }
}
