@use "sass-rem" as rem;
@use "variables";
@use "fonts";

.toolbar {

    margin-bottom: rem.convert(48px);

    .title {
        @include fonts.responsive-text-class(
            "text-lg",
            $desktop-class: "text-xxl",
            $laptop-class: "text-xxl",
            $tablet-class: "text-xl",
            $phone-class: "text-lg"
        );

        font-weight: variables.$font-weight-bold;
    }
}
