@use "sass-rem" as rem;

$text-primary: #333333;
$background-primary: #ffffff;
$background-secondary: #f4f4f4;
$background-primary-soft-gray: #eaeaea80;
$gray-border: #eaeaea;
$gray-light: #b6b6b6;
$color-success: #5abd37;
$color-info: #26a1de;
$color-info-alt: #4db849;
$color-warning: #ff6600;
$color-button-green: #5a9200;
$color-button-light-green: #b6e09d4d;

$font-sizes: (
    "text-xs": (
        size: 12px,
        line-height: 20px
    ),
    "text-sm": (
        size: 14px,
        line-height: 24px
    ),
    "text-md": (
        size: 16px,
        line-height: 24px
    ),
    "text-big": (
        size: 18px,
        line-height: 24px
    ),
    "text-lg": (
        size: 20px,
        line-height: 28px
    ),
    "text-xl": (
        size: 24px,
        line-height: 32px
    ),
    "text-xxl": (
        size: 32px,
        line-height: 40px
    )
);

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
