@use 'sass-rem' as rem;
@use 'variables';

:host {
  flex-basis: 50%;
  padding-right: rem.convert(13px);

  // tablet, phone
  @media (max-width: variables.$tabletMaxWidth) {
    padding: 0;
  }

  .tasks-container {
    display: flex;
    justify-content: space-between;
    row-gap: rem.convert(24px);

    @media (min-width: variables.$phoneMinWidth) and (max-width: variables.$phoneMaxWidth) {
      flex-direction: column;
    }
  }
}
