<div class="header">
  <p class="text-xxl">
    Доска задач
  </p>
</div>
<div class="sections-container" cdkDropListGroup>
  @for (section of sections; track section.type; let index = $index) {
  <!-- <div class="section" cdkDropList [cdkDropListData]="sections[index].tasks" [id]="section.type"
    [cdkDropListConnectedTo]="getOtherSectionsData(index)" (cdkDropListDropped)="drop($event)"> -->
    <div class="section" 
     cdkDropList 
     [cdkDropListData]="sections[index].tasks"
     [cdkDropListConnectedTo]="getOtherSectionsData(index)"
     (cdkDropListDropped)="drop($event)"
     [id]="section.type"> <!-- Уникальный идентификатор -->
    <div class="status-card">
      <p>{{ section.title }}</p>
    </div>
    <div class="tasks-card">
      <div class="task-item text-md" *ngFor="let taskItem of section.tasks" cdkDrag>
        <p>{{ taskItem.value }}</p>
      </div>
    </div>
  </div>
  }
</div>