<div *ngFor="let row of data.rows; let first = first; let last = last;" class="row-wrapper"
  [ngClass]="{'header': first, 'last': last}">
  <div class="row">
    <div *ngFor="let cell of row" class="cell" [ngStyle]="{'flex-basis': cell.size, 'justify-items': cell.align}">
      <ng-container [ngSwitch]="cell.type">
        <div *ngSwitchCase="tableCellType.TEXT">
          <div [ngClass]="{'column-title': first}">
            {{cell.value}}
          </div>
        </div>
        <div *ngSwitchCase="tableCellType.STATUS">
          <table-cell-state>
            {{cell.value}}
          </table-cell-state>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="divider" *ngIf="!first && !last"></div>
</div>