@use "sass-rem" as rem;
@use "fonts";

.header {
    margin: rem.convert(40px 0 24px 0);
    border-radius: rem.convert(12px);
    .title {
        font-weight: 700;
    }
}

.tasks-container {
    display: flex;
    flex-direction: column;
    row-gap: rem.convert(24px);
    .content-block {
        display: flex;
        flex-direction: column;
        padding: rem.convert(24px);
        .title {
            @extend .text-md;
        }
        button {
            flex-grow: 1;
        }
    }
}