<app-popup title="Изменение задачи">
  <div class="form-container">
    <input type="text" class="text-input" [formControl]="taskValueInput" />
  </div>
  <div class="status-buttons-container">
    @for (statusButton of statusButtons; track statusButton.title) {
      <button class="info-button" (click)="statusButton.action()">
        {{ statusButton.title }}
      </button>
    }
  </div>
  <div class="task-button-container">
    <button class="success-button focused" (click)="handleSaveButtonClick()">Изменить</button>
    <button class="success-button" (click)="handleRemoveButtonClick()">Удалить</button>
  </div>
</app-popup>
