<div class="header">
  <p class="text-xxl">
    Доска задач
  </p>
</div>
<div class="sections-container" cdkDropListGroup>
  @for (section of sections; track section.type; let index = $index) {
  <div class="section" cdkDropList [cdkDropListData]="sections[index].tasks"
    [cdkDropListConnectedTo]="getOtherSectionsData(index)" (cdkDropListDropped)="handleTaskDrop($event)" [id]="section.type">
    <div class="status-card">
      <p>{{ section.type | statusTitle }}</p>
    </div>
    <div class="tasks-card">
      @for (taskItem of section.tasks; track taskItem.id) {
      <div class="task-item text-md" cdkDrag>
        <p>{{ taskItem.value }}</p>
      </div>
      }
    </div>
  </div>
  }
</div>