<div class="main-container">
  <div class="header">
    <p class="title">ToDo List Scloud</p>
  </div>
  <div class="content">

    <app-task-statuses-info [taskStatusItems]="taskStatusItems"></app-task-statuses-info>

    <app-task-creation (addTaskEvent)="handleAddTaskEvent($event)"></app-task-creation>
    
    <app-task-list [taskList]="taskList" [itemsCountToShow]="currentItemsNumberToShow"
      (showTaskDetails)="handleShowTaskDetails($event)" appShowOnDevice
      [minWidth]="resolutions.tablet.minWidth"></app-task-list>

    <app-task-small-list [taskList]="taskList" (showTaskDetails)="handleShowTaskDetails($event)" appShowOnDevice
      [minWidth]="resolutions.phone.minWidth" [maxWidth]="resolutions.phone.maxWidth"></app-task-small-list>
  </div>

  <div class="more-button-container" appShowOnDevice [minWidth]="resolutions.tablet.minWidth" display="flex">
    @if (taskList.length > 5) {
    <button class="success-button" (click)="handleMoreButtonClick()">
      {{ currentItemsNumberToShow === minItemsNumberToShow ? 'Показать еще' : 'Скрыть' }}
    </button>
    }
  </div>
</div>

@if (taskList.length > 0) {
<app-task-board [taskList]="taskList" (changeTaskStatus)="handleUpdateTaskItem($event)" appShowOnDevice
  [minWidth]="resolutions.laptop.minWidth"></app-task-board>
}

<app-task-details (updateTaskItemOutput)="handleUpdateTaskItem($event)"
  (removeTaskItemOutput)="handleRemoveTaskItemById($event)"></task-details>