@use "sass-rem" as rem;
@use "content-block";

:host {
    @extend .content-block;
    .tasks-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        grid-gap: 20px;

        @media (min-width: 320px) and (max-width: 640px) {
            flex-direction: column;
        }
    }
}
